body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1600px;
  padding-left: 220px;
  padding-right: 220px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

/* -------header------- */

.header {
  background-color: #fcf1f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heager-logo {
  width: 79px;
  height: 79px;
  margin-top: 10px;
}

.header-navigation {
  align-items: center;
  display: flex;
  margin-top: 25px;
}

.header-list {
  align-items: center;
  display: flex;
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #726163;
  transition: color 200ms linear;
}

/* .header-link::before {
  content: "";
  display: inline-block;

  width: 100%;
  height: 3px;
  background-color: #d23166;
  position: absolute;
  top: 101%;
  right: 0px;
  transform: scale(0);
  transition: transform 250ms linear;
}

.header-link:hover::before,
.header-link:focus::before {
  transform: scale(1);
} */

.header-link:hover,
.header-link:focus {
  color: #d23166;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-btn {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: #fafafa;
  margin-left: 172px;
  background-color: #d23166;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  user-select: none;
  text-align: center;
  padding-top: 14px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.header-btn:hover,
.header-btn:focus {
  box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: #d64374;
}

.curent {
  color: #d23166;
  position: relative;
}

.curent::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #d23166;
  position: absolute;
  top: 101%;
  right: 0px;
}

/* -------hero------- */

.hero {
  display: flex;
  background: #fcf1f4;
}

.hero-div {
  max-width: 665px;
  margin-top: 197px;
  margin-bottom: 213px;
}

.hero-div-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #0f0101;
  margin-bottom: 6px;
}

.hero-div-h2 {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: 500;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #27191a;
  margin-bottom: 35px;
}

.span-hero-h2 {
  color: #d64574;
}

.hero-text {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #6e6163;
  margin-bottom: 50px;
  padding-right: 140px;
}

.btn-hero {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: #fafafa;
  background: #d23166;
  width: 165px;
  height: 49px;
  display: block;
  padding-top: 13px;
  user-select: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.btn-hero:hover,
.btn-hero:focus {
  box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: #d64374;
}

.hero-img-container {
  margin-left: 30px;
  width: 597px;
  height: 580px;
}

.hero-img {
  background-image: url(../images/milk-icecream-hero.png),
    url(../images/icecream-hero.png);
  background-position: bottom -120px left -150px, center;
  background-repeat: no-repeat;
  background-size: auto, auto;
  width: 597px;
  height: 650px;
  bottom: 10px;
  left: -115px;
  position: absolute;
  /* z-index: 5; */
}

.hero-img-circle {
  /* content: ""; */
  position: relative;
  width: 365px;
  height: 353px;
  border-radius: 50%;
  background-color: #f8dee6;
  bottom: -330px;
  left: 55px;
  display: inline-block;
}

.hero-img-circle::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 165px;
  height: 20px;
  left: 90px;
  bottom: -40px;
  background: #edb5c7;
  filter: blur(17px);
}

/* -------benefits------- */

.benefits {
  padding-top: 133px;
  padding-bottom: 128px;
  background-color: #fcfcfc;
}

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 39px;
}

.benefits-item-link {
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #f7f7f7;
  display: inline-block;
  padding: 33px 26px 23px 26px;
  transition: border-color 200ms linear, box-shadow 200ms linear;
}

.benefits-item-link:hover,
.benefits-item-link:focus {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.benefits-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.benefits-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 9px;
  text-align: center;
}

.benefits-text {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.38;
  text-align: center;
  color: #666666;
}

/* ------product-of-the-day----- */

.product-of-the-day {
  display: flex;
  align-items: center;
  background: #f8edf0;
}

.potd-description {
  max-width: 445px;
  margin-top: 141px;
  margin-bottom: 146px;
}

.potd-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.11;
  color: #150101;
  margin-bottom: 16px;
  /* margin-top: 141px; */
}

.potd-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #705f60;
}

.btn-potd {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #fafafa;
  background-color: #d23166;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  display: block;
  padding-top: 15.04px;
  text-align: center;
  display: inline-block;
  user-select: none;
  margin-top: 35px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.btn-potd:hover,
.btn-potd:focus {
  box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: #d64374;
}

.potd-img-div {
  height: 500px;
  margin-left: 74px;
  position: relative;
  display: flex;
  align-items: center;
}

.potd-img-div::after {
  content: "";
  background-color: #edb5c7;
  width: 240px;
  height: 20px;
  filter: blur(15px);
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 210px;
}

/* ------our-product------ */

.our-product {
  padding-top: 137px;
  padding-bottom: 174px;
}

.our-product-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.38;
  color: #150101;
  margin-bottom: 64px;
  text-align: center;
}

/* .our-product-title::after {
  content: "";
  width: 100px;
  height: 100px;
  color: #4d4d4d;
  display: block;
} */

.our-product-list {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}
.our-product-item:not(:last-child) {
  margin-right: 39px;
}

.our-product-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #666666;
  transition: color 200ms linear;
  position: relative;
  /* для эксперимента с анимацией */
  /* display: inline-block;
  width: 100px;
  height: 30px;
  background-color: #150101; */
}

.our-product-link:hover,
.our-product-link:focus {
  color: #000000;
}

.our-product-link::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 101%;
  right: 0px;
  transform: scale(0);
  transition: transform 200ms linear;
}

.our-product-link:hover::before,
.our-product-link:focus::before {
  transform: scale(1);
}

.our-product-item:first-child > .our-product-link:hover::before,
.our-product-item:first-child > .our-product-link:focus::before {
  transform: scale(0);
}

/* начало эксперимента с анимацией*/

/* .our-product-link:hover {
  animation-name: changeBgColor;
  animation-duration: 3000ms;
}

@keyframes changeBgColor {
  0% {
    background-color: #150101;
  }

  30% {
    background-color: teal;
  }

  55% {
    background-color: orange;
  }

  80% {
    background-color: deepskyblue;
  }

  100% {
    background-color: #150101;
  }
} */

/* конец эксперимента с анимацией*/

.curent2 {
  color: #000000;
}

.product {
  margin-bottom: 112px;
}

.product-item {
  display: flex;
  align-items: center;
}

.product-item:not(:last-child) {
  margin-bottom: 33px;
}

.product-img-1 {
  margin-right: 85px;
}

.product-img-2 {
  margin-left: 84px;
}

.product-img-3 {
  margin-right: 87px;
}

.product-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.39;
  color: #000000;
  margin-bottom: 11px;
}

.product-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d4d4d;
  width: 454px;
  margin-bottom: 28px;
}

.btn-product {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #fafafa;
  background-color: #d23166;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  user-select: none;
  /* display: block; */
  /* padding-top: 15px; */
  /* text-align: center; */
  border: transparent;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.btn-product:hover,
.btn-product:focus {
  box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: #d64374;
}

.product list {
  margin-bottom: 112px;
}

/*---начало отзывов----*/

.div-reviews {
  display: flex;
}

.chocklad-icecream {
  margin-left: 214px;
}

.all {
  width: 345px;
}

#slider {
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
}

#slides .image > img {
  width: 20%;
  float: left;
  transition: all 200ms linear;
}

#slides .image {
  width: 50%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

.image > img {
  width: 100%;
}

#desktop:checked ~ #slider {
  max-width: 100px;
}

#switch1:checked ~ #controls label:nth-child(4),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3) {
  background: url(../images/reviews/Vector.svg) no-repeat;
  float: right;
  margin: 0 0 0 -4px;
  display: block;
  width: 14px;
  height: 14px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1) {
  background: url(../images/reviews/Vector-left.svg) no-repeat;
  float: left;
  margin: 0 0 0 0;
  display: block;
  width: 14px;
  height: 14px;
}

#controls > label {
  cursor: pointer;
  transition: opacity 200ms linear;
}

.all input {
  display: none;
}

#switch1:checked ~ #slides img[src="./images/2img1.jpg"] {
  margin-left: 0;
}

#switch2:checked ~ #slides img[src="./images/2img2.jpg"] {
  margin-left: -100%;
}

#switch3:checked ~ #slides img[src="./images/2img4.jpg"] {
  margin-left: -200%;
}

#switch4:checked ~ #slides img[src="./images/2img3.jpg"] {
  margin-left: -300%;
}

#controls {
  margin: 25% 0 0 0;
  width: 100%;
  height: 50px;
}

#controls label:hover {
  opacity: 0.6;
}

/* ------simple-way-------*/

.simple-way {
  background-color: #f8edf0;
  padding-top: 90px;
  padding-bottom: 150px;
  display: flex;
}

.simple-way-img {
  margin-right: 134px;
}

.simple-way-div {
  width: 607px;
}

.simple-way-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 1.18;
  color: #000000;
  margin-bottom: 20px;
}

.simple-way-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #554949;
  margin-bottom: 31px;
}

.simple-way-choice-item:not(:last-child) {
  margin-bottom: 19px;
}

.simple-way-link {
  display: flex;
  align-items: center;
}

.simple-way-icon-item {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.simple-way-choice-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: black;
}

.simple-way-choice {
  margin-bottom: 41px;
}

.simple-way-apps {
  display: flex;
  align-items: center;
  position: relative;
  left: -11px;
}

.apps-item + .apps-item {
  margin-left: 7px;
}

/* ------question-------*/

.question {
  padding-top: 191px;
  padding-bottom: 149px;
}

.question-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.18;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;
  width: 522px;
  margin-left: auto;
  margin-right: auto;
}

.question-form {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.question-input {
  background-color: #fafafa;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  width: 508px;
  height: 74px;
  border: transparent;
  padding-left: 30px;
  color: #6d6464;
}

.question-input::placeholder {
  color: #b5b4b4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 200ms linear;
}

.question-input:hover::placeholder,
.question-input:focus::placeholder {
  color: #6d6464;
}

.question-btn {
  background: #d23166;
  border-radius: 5px;
  color: #ffffff;
  width: 134px;
  height: 74px;
  border: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  user-select: none;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.question-btn:hover,
.question-btn:focus {
  box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: #d64374;
}

/* ------footer-------*/

.footer {
  padding-bottom: 104px;
  display: flex;
  background: #0a0808;
  /* z-index: -2;
  position: relative; */
}

.footer-about {
  margin-top: 70px;
}

.footer-text {
  color: #b5b4b4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.42;
  margin-bottom: 25px;
  max-width: 207px;
  margin-top: 9px;
}

.footer-title-social {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  z-index: 3;
  position: relative;
  transition: background-color 200ms linear;
}

a.footer-social-icon > img {
  z-index: 0;
  position: relative;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-orientate-div {
  margin-left: 37px;
  margin-top: 143px;
}

.footer-orientate-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-information-div {
  margin-left: 132px;
  margin-top: 150px;
}

.footer-information-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-link {
  color: #b5b4b4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  transition: color 200ms linear;
}

.footer-link:hover,
.footer-link:focus {
  color: #ffffff;
}

.footer-div-subscription {
  margin-left: 151px;
  margin-top: 136px;
}

.footer-subscription-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 13px;
}

.footer-form-subscription {
  display: flex;
}

.footer-input-subscription {
  border: 2px solid #d23166;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  background-color: #0a0808;
  width: 270;
  height: 55px;
  color: #ffffff;
  padding-left: 32px;
}

.footer-input-subscription::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #9d9c9c;
  transition: color 200ms linear;
}

.footer-input-subscription:hover::placeholder,
.footer-input-subscription:focus::placeholder {
  color: #fff;
}

.footer-btn-subscription {
  background: #d23166;
  width: 125px;
  height: 55px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  border: transparent;
  transition: color 200ms linear, text-shadow 200ms linear;
  margin-bottom: 2px;
  user-select: none;
  /* transition: background-color 200ms linear, box-shadow 200ms linear,
    color 200ms linear, text-shadow 200ms linear; */
}

.footer-btn-subscription:hover,
.footer-btn-subscription:focus {
  color: #9d9c9c;
  text-shadow: 0.5px 0.5px 0.5px white;
  /* box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: #d64374; */
}

.footer-payment-systems {
  display: flex;
  align-items: center;
}

.footer-payment-systems-item + .footer-payment-systems-item {
  margin-left: 10px;
}
