body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1600px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;
}

/* img {
  display: block;
} */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------header------- */

.header {
  background-color: #fcf1f4;
  display: flex;
}

/* .header-navigation {
} */

.header-list {
  align-items: center;
  display: flex;
}

.header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #726163;
}

.header-link:hover,
.header-link:focus {
  color: #d23166;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-btn {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: #fafafa;
  margin-left: 172px;
  background: #d23166;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  border: transparent;
  margin-right: 0;
}

.curent {
  color: #d23166;
}

/* -------hero------- */

.hero {
  display: flex;
  background: #fcf1f4;
  padding-bottom: 213px;
}

.hero-div-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #0f0101;
  margin-bottom: 6px;
}

.hero-div-h2 {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: 500;
  font-size: 57.33px;
  line-height: 120.5%;
  /* or 69px */
  color: #27191a;
  margin-bottom: 35px;
}

.span-hero-h2 {
  color: #d64574;
}

.hero-text {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #6e6163;
  margin-bottom: 50px;
}

.btn-hero {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: #fafafa;
  background: #d23166;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  border: transparent;
}

/* -------benefits------- */

.benefits {
  padding-top: 133px;
  padding-bottom: 128px;
}

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 91px;
}

.benefits-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 9px;
  text-align: center;
}

.benefits-text {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.38;
  text-align: center;
  color: #666666;
}

/* ------product-of-the-day----- */

.product-of-the-day {
  display: flex;
  background: #f8edf0;
  padding-top: 141px;
  padding-bottom: 161px;
}

.potd-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.11;
  color: #150101;
  margin-bottom: 16px;
}

.podt-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #705f60;
  margin-bottom: 35px;
}

.btn-potd {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #fafafa;
  background: #d64374;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  border: transparent;
}

/* ------our-product------ */

.our-product {
  background: #e5e5e5;
  padding-top: 137px;
  padding-bottom: 233px;
}

.our-product-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.38;
  color: #150101;
  margin-bottom: 64px;
  text-align: center;
}

.our-product-list {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}
.our-product-item:not(:last-child) {
  margin-right: 39px;
}

.our-product-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #666666;
}

.our-product-link:hover,
.our-product-link:focus {
  color: #000000;
}

.curent2 {
  color: #000000;
}

.product-title {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.39;
  color: #000000;
  margin-bottom: 11px;
}

.product-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d4d4d;
}

.btn-product {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #fafafa;
  background: #d64374;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  border: transparent;
}

/* ------simple-way-------*/

.simple-way {
  background: #f8edf0;
  padding-top: 90px;
  padding-bottom: 150px;
}

.simple-way-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 1.18;
  color: #000000;
  margin-bottom: 20px;
}

.simple-way-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #554949;
  margin-bottom: 31px;
}

.simpl-way-choic-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: #000000;
}

/* ------question-------*/

.question {
  padding-top: 191px;
  padding-bottom: 149px;
}

.question-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.18;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;
}

.question-form {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.question-input {
  background: #fafafa;
  border-radius: 5px;
  outline: none;
  width: 508px;
  height: 74px;
  border: transparent;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.question-input::placeholder {
  color: #6d6464;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-left: 30px;
}

.question-btn {
  background: #d64374;
  border-radius: 5px;
  color: #ffffff;
  width: 134px;
  height: 74px;
  border: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  right: 5px;
  position: relative;
}

/* ------footer-------*/

.footer {
  padding-top: 70px;
  padding-bottom: 104px;
  display: flex;
  background: #0a0808;
}

.footer-text {
  color: #b5b4b4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.42;
  margin-bottom: 25px;
}

.footer-title-social {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
}

.footer-orientate-div {
  margin-left: 37px;
}

.footer-orientate-list:not(:last-child) {
  margin-bottom: 10px;
}

.footer-orientate-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  color: #b5b4b4;
}

.footer-information-div {
  margin-left: 132px;
}

.footer-information-list:not(:last-child) {
  margin-bottom: 10px;
}

.footer-information-item {
  color: #cecece;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.footer-orientate-item:hover,
.footer-information-item:hover,
.footer-information-item:focus,
.footer-orientate-item:focus {
  color: #ffffff;
}

.footer-div-subscription {
  margin-left: 151px;
}

.footer-form-subscription {
  display: flex;
}

.footer-subscription-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 13px;
}

.footer-input-subscription {
  border: 2px solid #d64374;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  width: 270;
  height: 55px;
  color: #ffffff;
  padding-left: 32px;
}

.footer-input-subscription::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #9d9c9c;
}

.footer-btn-subscription {
  background: #d23166;
  width: 125px;
  height: 55px;
  border-radius: 5px;
  position: relative;
  right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  border: transparent;
}
