.footer-orientate__container {
    margin-left: 37px;
    margin-top: 143px;
}

.footer-information__container {
    margin-left: 132px;
    margin-top: 150px;
}

.orientate-item, .information-item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }   
}



.text-link {
    color: $footer-text;
    @include font(12px, 1.17, null);
    transition: color $transition-time $cubic-bezier;

    &:hover,
    &:focus {
        color: #ffffff;
    }
}





