.header {
    background-color: $background-header-hero;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heager__logo {
    margin-top: 5px;
}

.site-navigation {
    align-items: center;
    display: flex;

}

.site-list {
    align-items: center;
    display: flex;

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        color: $header-color-menu;
        @include font(14px, 1.14);
        transition: color $transition-time $cubic-bezier;

        &:hover,
        &:focus {
            color: $heder-color-menu-hover;
        }

        &--curent {
            color: $heder-color-menu-hover;
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 3px;
                background-color: $heder-color-menu-hover;
                position: absolute;
                top: 101%;
                right: 0px;
            }
        }
    }
}




.header__button {
    @extend %button;
    margin-left: 172px;
    border-radius: 5px;
    padding-top: 14px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
        box-shadow: inset 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
        background-color: $background-btn-hover;
    }
}