.products {
    padding-top: 137px;
    padding-bottom: 174px;
}

.products__title {
    font-family: "Hind Madurai";
    font-weight: 600;
    font-size: 44.2px;
    line-height: 1.38;
    color: #150101;
    margin-bottom: 64px;
    text-align: center;
}