.reviews {
    display: flex;
}

.chocklad-icecream {
    margin-left: 214px;
}

.all {
    width: 345px;
}

.all input {
    display: none;
}

#slider {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}

#slides article {
    width: 25%;
    float: left;
    transition: all 200ms linear;
}

#slides .image {
    width: 50%;
    line-height: 0;
    /* display: flex; */
    transition: all 200ms linear;
}

#overflow {
    width: 100%;
    /* height: 75px; */
    overflow: hidden;
}

article img {
    width: 100%;
}

#desktop:checked~#slider {
    max-width: 400px;
}

#switch1:checked~#controls label:nth-child(4),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2),
#switch4:checked~#controls label:nth-child(3) {
    background: url(../images/reviews/Vector.svg) no-repeat;
    float: right;
    margin: 0 0 0 -20px;
    display: block;
    width: 14px;
    height: 14px;
}

#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(1) {
    background: url(../images/reviews/Vector-left.svg) no-repeat;
    float: left;
    margin: 0 -20px 0 0;
    display: block;
    width: 14px;
    height: 14px;
}

article label {
    cursor: pointer;
}

#switch1:checked~#slides .image {
    margin-left: 0;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
}

#switch3:checked~#slides .image {
    margin-left: -200%;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
}

#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#controls label {
    transition: all 200ms linear;
}

#controls label:hover {
    opacity: 0.6;
}

#active label {
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
    transition: all 200ms linear;
}

#active {
    margin: 23% 0 0;
    text-align: center;
}

#active label:hover {
    background: #76c8ff;
    border-color: #777;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4) {
    background: #18a3dd;
    border-color: #18a3dd;
}