html,
body {
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff !important;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



header,
main,
section,
footer {
    width: 100%;
}