$background-header-hero: #fcf1f4;
$header-color-menu: #726163;
$heder-color-menu-hover: #d23166;
$background-btn: #d52962;
$background-btn-hover: #ff6080;
$width-btn: 165px;
$heigth-btn: 49px;
$transition-time: 250ms;
$cubic-bezier: linear;
$footer-text: #b5b4b4;